@media (min-width:641px) and (max-width:991px) {
    .post-area {
    	height: 250px;
    	overflow: hidden;
	}
    .post-img {
    	height: 250px;
	}
    .post-block {
        height: 174px;
    }
    .post-text {
	bottom:130px;
    }
}

@media (min-width:641px) and (max-width:700px) {
	.banner .banner-text  {
		left:50px !important;
	}
}

@media (min-width:641px) {
	.bugarea {
		border-right: 2px solid #262F3A;
	}
}

@media (max-width:1200px) {
    .sec-fix .row {
        margin: 0 -15px;
    }
    .sec-fix .col {
        padding: 0 15px;
    }
    .bugarea {
    	padding-right:50px !important;
    }
    .issuearea {
    	padding-left:50px !important;
    }
    .bug-description .tabs li:last-of-type:after {
        width: 17px;
    }
}

@media (max-width:1110px) {
	.fliptext {
		width: auto;
		-webkit-transform: none;
    	-moz-transform: none;
    	-ms-transform: none;
    	-o-transform: none;
    	transform: none;
    	position: relative;
		left: 0;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.textarea {
		text-align: left;
		font-size: 30px;
		font-weight: 300;
	}
}

@media (min-width:991px) {
	.enumenu_ul {
		display:none !important;
	}
	header.home {
		background-color: transparent !important;
		-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
	}
	header.home.smaller {
    	background-color: rgba(23, 23, 23, 0.95) !important;
	}
	header.home.smaller .logo {
    	width: 127px;
    	height: auto;
    	margin-top: 7px;
	}
	header.home .logo {
		width:262px;
		height: auto;
		-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
	}
	.contentpgcol {
		max-width: 750px !important;
	}
}

/*---- Tablet Portrait ----*/

@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
    .main-nav ul li a {
        font-size: 24px;
    }
    .enumenu_ul {
        display: none
    }
    .menu-block {
        height: auto;
    }
    .menu-icon {
        display: block
    }
    .desktopmenu {
        display: none
    }
    .menu-block {
        height: auto;
    }
    .menu-icon {
        display: block
    }
    .enumenu_ul .arrow {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background: url(../images/plus.png) no-repeat center center;
        cursor: pointer;
        z-index: 999;
    }
    .enumenu_ul .arrow.up {
        background: url(../images/minus.png) no-repeat center center;
    }
    .enumenu_ul > li {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .enumenu_ul > li > a {
        display: block;
        text-align: center;
        padding: 8px
    }
    .enumenu_ul {
        width: 100%;
    }
    .enumenu_ul > li ul {
        background: #D1D1D1;
    }
    .enumenu_ul > li ul a {
        text-align: center;
        display: block;
        text-align: center;
        color: #000;
        padding: 5px 0;
    }
    body.menuslide_push {
        position: relative;
    }
    .main-nav > ul {
        position: absolute;
        top: 50%;
        width: 100%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    .main-nav ul li a.btn {
    	padding: 7px 25px;
	}
    .header-container {
        padding: 0 32px;
    }
    .menu-icon.active span {
        background-color: #BC0000;
    }
    .main-nav ul li.has-children:after {
        display: none
    }
    .menu-icon.active .menu-box {
        position: fixed;
        top: 27px;
        right: 15px;
    }
    .main-nav ul li {
        display: block;
        margin-bottom: 30px;
    }
    .heading-area h2 {
        font-size: 30px;
        position: static;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        text-align: left;
    }
    .upcoming-area {
        padding-left: 0;
    }
    .upcoming-post .overlay-desc h3 {
        font-size: 18px;
    }
    .post-block .overlay-desc h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .post-section img {
        width: auto;
        height: 100%;
        max-width: inherit;
    }
    .bug-description .tabs li {
        padding: 12px 8px;
    }
    .banner {
    	height: 708px;
    	background-position: -100px 0px;
	}
    .contentpgbox {
		padding: 40px 30px 23px 30px;
	}
    .bug-description .tabs li:last-of-type:after {
        width: 11px;
    }
     .sbHolder a {
    	min-width:220px;
    }
     .banner .banner-text {
    	bottom: 100px !important;
    	left:85px;
    }
    h1 {
    	font-size: 100px;
	}
	header {
		height: 80px;
		-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
	}
	header .logo {
		-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
    }
    .xbox-one-logo {
		width: 60px;
		margin-right:33px;
	}
	.ps4-logo {
		width: 81px;
		margin-right:33px;
	}
	.steam-logo {
		width: 49px;
	}
	.esrb-logo {
		width: 91px;
		margin-right: 53px;
	}
	.pegi-logo {
		width: 117px;
	}
	.logos-line-1 {
		max-width: 272px;
		margin: 0 auto;
	}
	.logos-line-2 {
		padding-top: 20px;
		margin-bottom: 40px;
		max-width: 272px;
		margin: 0 auto;
	}
	.bug-description .tabs li {
		font-size: 12px;
	}
}

/*---- Mobile Landscape ----*/

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    .bug-description .tabs li {
        padding: 12px 5px;
        font-size: 12px;
        width: 30%
	}
    .bug-description .tabs li:last-of-type {
    	width: 30%;
	}
    .upcoming-post .overlay-desc {
        bottom: 20px;
    }
    .post-block .category {
    	font-size:35px;
	}
	.bugarea {
    	padding-right:30px !important;
    }
    .issuearea {
    	padding-left:30px !important;
    }
}

@media (max-width: 660px) {
    .banner {
    	height: 708px;
    	background-position: -250px 0px;
	}
	.bugarea {
    	padding-right:20px !important;
    }
    .issuearea {
    	padding-left:20px !important;
    }
}

/*---- Mobile Portrait ----*/

@media (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
    h1 {
        font-size: 65px;
    }
    .post-section img {
        width: 100%;
        height: auto;
        max-width: inherit;
    }
    .post-area {
        height: auto
    }
    .post-area .post-text {
        right: 70px;
    }
    .post-block {
        height: 250px;
    }
    .post-block img {
        width: 100%;
        height: 100%;
    }
    .fix-area .fix-icon {
        margin-top: 34px;
        margin-bottom:50px;
    }
    .bugarea {
     	margin-bottom: 40px;
    }
    .fix-area .alert {
    	margin-top:60px !important;
    }
    .bug-description .tabs li:after {
        width: 12px;
    }
    .bug-description .tabs li:last-of-type:after {
        width: 11px;
    }
    .contentpgbox {
        width: auto !important;
    }
    .upcoming-row {
    	margin-top:50px;
    }
	.contentpg h2 {
		font-size:25px;
	}
	.contentpg h3 {
		font-size:25px;
	}
	.social-icons {
		max-width: 270px;
		padding-top: 30px;
		margin: 0 auto;
	}
	.social {
		cursor:pointer;
		margin-right:20px;
	}
    .firstbox {
		border-right:0;
	}
	.middlebox {
		border-top:0;
		border-bottom:0;
		border-left:0;
		border-right:0;
	}
    .lastbox {
		border-left:0;
	}
	.post-block .category {
    	top: 70px;
	}
	.issuearea {
		padding-left: 15px !important
	}
	.bug-description .tabs li {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
    .header-container {
        padding: 0 15px;
    }
    .banner {
        height: 480px;
    }
    .banner .banner-text {
        bottom: 33px;
    }
    .menu-icon .menu-box {
        margin-right: 0;
        right: 15px;
    }
    .menu-icon.active .menu-box {
        right: 15px;
    }
    .section {
        padding: 25px 0;
    }
    .fix-area .fix-icon {
        margin-top: 20px;
    }
    .bug-description {
        margin-bottom: 20px;
    }
    .sec-fix {
        padding: 55px 0 70px;
    }
    .upcoming-post {
        margin-bottom: 20px;
    }
    .sec-upcoming {
        padding: 60px 0;
    }
    .sbHolder a {
        min-width: 100%;
    }
    .sbHolder {
        margin-top:18px;
        width: 100% !important;
    }
    .post-block {
        height: 170px;
    }
    .post-block img {
        width: auto;
        height: 100%;
    }
    .fix-description h3:after,
    .bug-description h3:after {
        left: -15px
    }
    .bug-description .tabs li:after {
        width: 12px;
    }
    .bug-description .tabs li:last-of-type:after {
        width: 11px;
    }
    .bug-description,
    .fix-description {
        width: auto;
	}
    .breakhidemob {
    	display:none;
    }
    .banner .banner-text {
    	left: 25px;
    	padding-right: 50px;
    	bottom:60px !important;
	}
	.banner {
    	background-position: -120px 50px !important;
	}
	.post-block .category {
    	top: 40px;
	}
}

/*---- iPhone 6,7+ ----*/
@media (max-width:414px) {
	.banner {
    	background-position: -120px 50px !important;
	}
}

/*---- iPhone 6,7 ----*/
@media (max-width:375px) {
	.banner {
    	background-position: -130px 50px !important;
	}
	.bug-description .tabs li {
		font-size: 12px;
	}
    .post-area .post-text h3 {
        padding-right: 10px;
    }
}

/*---- iPhone 5 ----*/
@media (max-width:320px) {
	.banner {
    	background-position: -180px 40px !important;
	}
	.bug-description,
    .fix-description {
        width: auto;
	}
	.xbox-one-logo {
		width: 55px;
		margin-right:33px;
	}
	.ps4-logo {
		width: 76px;
		margin-right:33px;
	}
	.steam-logo {
		width: 44px;
	}
	.esrb-logo {
		width: 86px;
		margin-right: 48px;
	}
	.pegi-logo {
		width: 112px;
	}
	.logos-line-1 {
		max-width: 272px;
		margin: 0 auto;
	}
	.logos-line-2 {
		padding-top: 20px;
		margin-bottom: 40px;
		max-width: 272px;
		margin: 0 auto;
	}
	.social {
		cursor:pointer;
		margin-right:17px;
	}
	.bug-description .tabs li {
		font-size: 9px;
	}
}

/*---- Larger Screens ----*/
@media (min-width:1600px) {
    .container {
      	max-width:1200px;
    }
    .sbHolder {
        width:370px !important;
    }
    .sec-fix .col {
        padding: 0 93px;
    }
    .bugarea {
    	padding-left: 112px !important;
    }
}

/*---- Even Larger Screens ----*/
@media (min-width:1850px) {
	.banner {
   		background-position: center -75px;
   		-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
   	}
}
