---
title: All Patches
layout: full
---

        <!-- Patches Starts Here -->
        <div id="patches"></div>
            <div class="section sec-patches" id="fix">
            
            <div class="container">
            <div style="padding-top:80px;"></div>
                <h2>Patches</h2>
               
               <div id="boxes">
               
            <div class="community-post cf">
                    <div class="row">

                        {% assign patches = site.patch-notes | sort: "position" %}
					    {% for post in patches limit: 21 %}
                        
                        <div class="col-4 col">
                            <div class="post-block" onclick="window.location.href = '{{post.url}}';">
                                <div class="block-area">
									<div class="block-img patch"></div>
                                </div>
                                <div class="block-overlay">
                                    <div class="category">{% assign rls = post.release-date %}{% if rls == '' %}{{ post.title }}{% else %}{{ post.release-date | date: "%-m.%-d.%y" }}{% endif %}</div>
									<div class="patch-title">Patch Notes</div>
                                </div>
                            </div>
                        </div>
                      
                        {% endfor %}
                        
                        <div class="loadpatch"></div>
                            
    					<div style="clear:both;"></div>
						</div>
						<div class="buttonarea">
							{% for post in patches %}{% if forloop.first == true %}{% if forloop.length > 21 %} <a class="btn lmpatch" style="margin-right:12px;">LOAD MORE</a>{% endif %}{% endif %}{% endfor %}<a href="http://www.jasonkillsbugs.com" target="_blank" title="REPORT BUG" class="btn">REPORT BUG</a>
						</div>
						<div style="padding-bottom:40px;"></div>
                    </div>
                </div>
              </div>
        </div>
    <!-- Patches Ends Here -->
