---
title: All Released
layout: released
---

            <!-- Released Starts Here -->
    <div id="released"></div>
        <div class="section sec-released" style="padding-top:140px;">
            <div class="container">
                <h2>Released</h2>
                <div class="select-area cf">
                    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" class="selectbox">
                        <option value="{{site.baseurl}}/all-released">Recent</option>
                        <option value="{{site.baseurl}}/all-xbox-one-releases">XBOX ONE Patch Notes</option>
                        <option value="{{site.baseurl}}/all-ps4-releases">PS4 Patch Notes</option>
                        <option value="{{site.baseurl}}/all-steam-releases">STEAM Patch Notes</option>
                        <option value="{{site.baseurl}}/all-dlc-releases">DLC</option>
                    </select>
                </div>
                <div class="line"></div>
               
               <div id="boxes">
               
            <div class="released-post cf" style="padding-bottom:40px;">
                    <div class="row">
    
                        {% assign documents = site.documents | where: 'released', true | sort: 'released-date' | reverse %}

					    {% for document in documents %}
                        
                        <div class="col-4 col">
                            <div class="post-block" onclick="window.location.href = '{{site.baseurl}}{{document.url}}';">
                                <div class="block-area">
									<div class="block-img {% if document.collection == "released-patches" %}patch{% endif %}" {% if document.collection == "content-packs" %}style="background-image:linear-gradient(transparent, transparent, #000000), url({{site.baseurl}}{{document.main-image}})"{% endif %}></div>
                                </div>
                                <div class="block-overlay">
                                    <div class="category">{% if document.collection == "released-patches" %}{{ document.categories }}{% endif %}</div>
                                    <div class="overlay-desc">
                                        <h3><a href="#">{{ document.title }}</a></h3>
                                        <span>{{ document.release-date | date: "%-m.%-d.%y" }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        {% endfor %}
                            
    					<div style="clear:both;"></div>
