---
title: Home
layout: home
---

        <!-- Banner Starts Here -->
        <div class="banner">
            <div class="container">
                <div class="banner-text">
                    <h1>{{ site.banner-title-line-1 }}&nbsp;<span class="breakhidemob"><br></span>{{ site.banner-title-line-2 }}</h1>
                    <div class="contentline">{{ site.banner-subtitle }}</div>
		    		{% if site.banner-link-title %}<div class="bannerlink"><a href="{{ site.banner-link-url }}" class="rm">{{ site.banner-link-title }}</a></div>{% endif %}
                </div>
            </div>
        </div>
        <!-- Banner Ends Here -->
        
        <!-- Featured Starts Here -->
        <div class="post-section cf">
            
            
            
            
            
            
            
            
            
             <div class="col col-4 no-padding">
		    <div class="post-area firstbox">
                    <div class="post-img" style="background-image:url(/images/website-counter-bg.jpg) !important;background-size:100%;background-repeat:no-repeat;"></div>
                    <div class="post-text-2">
                       
                       
                       
                       <div class="clock"></div>
		
		<script type="text/javascript">
			var clock;
		</script>
                       
                   
                   
                    </div>
		    </div>
            </div>
            
            
            
            
            
            
            
            
            
            
            
          <!--  <div class="col col-4 no-padding">
		    <div class="post-area firstbox" {% assign win1 = site.new-window-1 %}{% if win1 == true %}onclick="window.open('{{ site.featured-box-1-url }}');"{% else %}onclick="window.location.href = '{{ site.featured-box-1-url }}';"{% endif %}>
                    <div class="post-img"></div>
                    <div class="post-text">
                        <span>{{ site.featured-box-1-title }}</span>
                        <h3>{{ site.featured-box-1-subtitle }}</h3>
                    </div>
		    </div>
            </div> -->
            
            <div class="col col-4 no-padding">
		    <div class="post-area middlebox" {% assign win2 = site.new-window-2 %}{% if win2 == true %}onclick="window.open('{{ site.featured-box-2-url }}');"{% else %}onclick="window.location.href = '{{ site.featured-box-2-url }}';"{% endif %}>
                    <div class="post-img"></div>
                    <div class="post-text">
                        <span>{{ site.featured-box-2-title }}</span>
                        <h3>{{ site.featured-box-2-subtitle }}</h3>
                    </div>
		    </div>
            </div>
            
            <div class="col col-4 no-padding">
		    <div class="post-area lastbox" {% assign win3 = site.new-window-3 %}{% if win3 == true %}onclick="window.open('{{ site.featured-box-3-url }}');"{% else %}onclick="window.location.href = '{{ site.featured-box-3-url }}';"{% endif %}>
                    <div class="post-img"></div>
                    <div class="post-text">
                        <span>{{ site.featured-box-3-title }}</span>
                        <h3>{{ site.featured-box-3-subtitle }}</h3>
                    </div>
		    </div>
        	</div>
        	
        </div>
        <!-- Featured Ends Here -->
    
        
    <!-- News Starts Here -->
    <div id="news"></div>
        <div class="section sec-news">
            <div class="container">
                <h2>News</h2>
                
                <div class="news-row">
                    <div class="news-area cf">
                        <div class="row">
                            {% assign news = site.news | sort: 'date' | reverse %}
							{% for post in news limit:5 %}
							<div class="col {% if forloop.index == 1 %}col-6{% elsif forloop.index == 2 %}col-6{% else %}col-4{% endif %}">
                                <div class="news-post {% if forloop.index == 1 %}row1size{% elsif forloop.index == 2 %}row1size{% else %}row2size{% endif %}" style="background-image: linear-gradient(transparent, transparent, rgba(0,0,0,.6)), url({{ post.main-image }});background-size:cover;background-position:center center;" onclick="window.location.href = '{{ post.url }}';">
                                    <div class="overlay">
                                        <div class="overlay-desc">
                                            <h3>{{ post.title }}</h3>
                                            <span>{{ post.subtitle }}</span>
                                        </div>
                                    </div>
								</div>                            
                            </div>
							{% endfor %}
							
							<div style="clear:both;"></div>
                       		<div class="cta">
                           		<a href="/all-news" class="viewall" style="padding-right:10px;padding-top:11px;" title="View all news">View all news</a>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- News Ends Here -->
        
     	<!-- Patches Starts Here -->
        <div id="patches"></div>
            <div class="section sec-patches" id="fix">
            
            <div class="container">
                <h2>Patches</h2>
               
               <div id="boxes">
               
            <div class="community-post cf">
                    <div class="row">

                        {% assign patches = site.patch-notes | sort:"position" %}
					    {% for post in patches limit:3 %} 
                        
                        <div class="col-4 col">
                            <div class="post-block" onclick="window.location.href = '{{post.url}}';">
                                <div class="block-area">
									<div class="block-img patch"></div>
                                </div>
                                <div class="block-overlay">
                                    <div class="category">{% assign rls = post.release-date %}{% if rls == '' %}{{ post.title }}{% else %}{{ post.release-date | date: "%-m.%-d.%y" }}{% endif %}</div>
									<div class="patch-title">Patch Notes</div>
                                </div>
                            </div>
                        </div>
                      
                        {% endfor %}
                            
    					<div style="clear:both;"></div>
                       		<div class="cta">
                           		<a href="/all-patches" style="padding-right:10px;"  class="viewall" title="View all patches">View all patches</a>
                        	</div>
						</div>
						
						<div class="buttonarea">
							<a href="http://www.jasonkillsbugs.com" target="_blank" title="REPORT BUG" class="btn">REPORT BUG</a>
						</div>
						
                    </div>
                </div>
              </div>
        </div>
    <!-- Patches Ends Here -->
    

    <!-- Community Starts Here -->
    <div id="community"></div>
        <div class="section sec-community">
            <div class="container">
            	<h2>Community</h2>
            	
		    	<div class="col col-4-custom">
            			<div class="playerhighlight">Player <span class="deskbr"><br /></span>Highlight</div>
            			<div class="playericon"><a href="{{ site.player-highlight-url }}" target="_blank"><img src="{{ site.player-highlight-icon-image }}" alt="{{ site.player-highlight-title }}"></a></div>
            			<div class="playername"><a href="{{ site.player-highlight-url }}" target="_blank">{{ site.player-highlight-title }}</a></div>
            			<div style="clear:both;"></div>
            		</div>
            		
            		<div class="col col-8-custom">
            			<a href="{{ site.player-highlight-url }}" target="_blank"><img src="{{ site.player-highlight-image }}" alt="{{ site.player-highlight-title }}" class="img-responsive highlightimg" /></a>
            		</div>
		    
		    
		    <div style="clear:both;padding-top:30px;"></div>
		    
		    
		    	<h2></h2>
		    
		    
            	<div class="community-area">
            	
						
            		<div class="col col-8-com padadjust1">
            			<h4>F13 Content Creators</h4>
            				<div class="col col-6" style="padding-left:0px;">
            					<a href="{{ site.stream-1-url }}" target="_blank"><img src="{{ site.stream-1-image }}" alt="{{ site.stream-1-title | truncate: 32}}" class="img-responsive streamimg" /></a>
            					<div class="streamline1"><a href="{{ site.stream-1-url }}" target="_blank">{{ site.stream-1-title | truncate: 32}}</a></div>
            					<div class="streamline2">{{ site.stream-1-subtitle | truncate: 32}}</div>
            				</div>
            				<div class="col col-6" style="padding-right:0px;">
            					<a href="{{ site.stream-2-url }}" target="_blank"><img src="{{ site.stream-2-image }}" alt="{{ site.stream-2-title | truncate: 32}}" class="img-responsive streamimg" /></a>
            					<div class="streamline1"><a href="{{ site.stream-2-url }}" target="_blank">{{ site.stream-2-title | truncate: 32}}</a></div>
            					<div class="streamline2">{{ site.stream-2-subtitle | truncate: 32}}</div>
            				</div>
            				<div class="col col-6" style="padding-left:0px;">
            					<a href="{{ site.stream-3-url }}" target="_blank"><img src="{{ site.stream-3-image }}" alt="{{ site.stream-3-title | truncate: 32}}" class="img-responsive streamimg" /></a>
            					<div class="streamline1"><a href="{{ site.stream-3-url }}" target="_blank">{{ site.stream-3-title | truncate: 32}}</a></div>
            					<div class="streamline2">{{ site.stream-3-subtitle | truncate: 32}}</div>
            				</div>
            				<div class="col col-6" style="padding-right:0px;">
            					<a href="{{ site.stream-4-url }}" target="_blank"><img src="{{ site.stream-4-image }}" alt="{{ site.stream-4-title | truncate: 32}}" class="img-responsive streamimg" /></a>
            					<div class="streamline1"><a href="{{ site.stream-4-url }}" target="_blank">{{ site.stream-4-title | truncate: 32}}</a></div>
            					<div class="streamline2">{{ site.stream-4-subtitle | truncate: 32}}</div>
            				</div>
            				<div class="col col-6" style="padding-left:0px;">
            					<a href="{{ site.stream-5-url }}" target="_blank"><img src="{{ site.stream-5-image }}" alt="{{ site.stream-5-title | truncate: 32}}" class="img-responsive streamimg" /></a>
            					<div class="streamline1"><a href="{{ site.stream-5-url }}" target="_blank">{{ site.stream-5-title | truncate: 32}}</a></div>
            					<div class="streamline2">{{ site.stream-5-subtitle | truncate: 32}}</div>
            				</div>
            				<div class="col col-6" style="padding-right:0px;">
            					<a href="{{ site.stream-6-url }}" target="_blank"><img src="{{ site.stream-6-image }}" alt="{{ site.stream-6-title | truncate: 32}}" class="img-responsive streamimg" /></a>
            					<div class="streamline1"><a href="{{ site.stream-6-url }}" target="_blank">{{ site.stream-6-title | truncate: 32}}</a></div>
            					<div class="streamline2">{{ site.stream-6-subtitle | truncate: 32}}</div>
            				</div>
            		</div>
            
            		<div class="col col-4-com padadjust2">
            			<h4>Weekly Events</h4>
            			<img src="/images/weekly-events-desk.jpg" alt="Weekly Events - Coming Soon" class="deskphoto img-responsive" />
            			<img src="/images/weekly-events-mob.jpg" alt="Weekly Events - Coming Soon" class="mobphoto img-responsive" />
            		</div>
            
            	</div>
            	
            	<div style="clear:both;padding-top:30px;"></div>
            	

            	
            </div>
        </div>
        <!-- Community Ends Here -->
        <div class="preload"><img src="/images/menu-overlay.jpg" alt="" /></div>
        
        </div>
