---
layout: ajax
---

                        {% assign patches = site.patch-notes | sort: "position" %}
					    {% for post in patches limit: 21 offset: 42 %}
                        
                        <div class="col-4 col">
                            <div class="post-block" onclick="window.location.href = '{{post.url}}';">
                                <div class="block-area">
									<div class="block-img patch"></div>
                                </div>
                                <div class="block-overlay">
                                    <div class="category">{% assign rls = post.release-date %}{% if rls == '' %}{{ post.title }}{% else %}{{ post.release-date | date: "%-m.%-d.%y" }}{% endif %}</div>
									<div class="patch-title">Patch Notes</div>
                                </div>
                            </div>
                        </div>
                      
                        {% endfor %}
                        
                        <div class="loadpatch3"></div>
                            
    					<div style="clear:both;"></div>
						</div>
						<div class="buttonarea">
							{% for post in patches %}{% if forloop.first == true %}{% if forloop.length > 63 %} <a class="btn lmpatch3" style="margin-right:12px;">LOAD MORE</a>{% endif %}{% endif %}{% endfor %}<a href="http://www.jasonkillsbugs.com" target="_blank" title="REPORT BUG" class="btn">REPORT BUG</a>
						</div>
						<div style="padding-bottom:40px;"></div>
                    </div>
                </div>
              </div>
        </div>
    <!-- Patches Ends Here -->
    
    
    						<script>
							$(document).ready(function () {
							 $(".lmpatch3").click(function(){
        					 $('.buttonarea').css('display', 'none');
        					 $(".loadpatch3").load("/patches-4/index.html");
    						 });
      						 })
      						 </script>
