---
title: Recent Releases
---
  					<div class="released-post cf">
                    <div class="row">
    
                        {% assign documents = site.documents | where: 'released', true | sort: 'release-date' | reverse %}

					    {% for document in documents limit:6 %}
                        
                        <div class="col-4 col">
                            <div class="post-block" onclick="window.location.href = '{{site.baseurl}}{{document.url}}';">
                                <div class="block-area">
									<div class="block-img {% if document.collection == "released-patches" %}patch{% endif %}" {% if document.collection == "content-packs" %}style="background-image:linear-gradient(transparent, transparent, #000000), url({{site.baseurl}}{{document.main-image}})"{% endif %}></div>
                                </div>
                                <div class="block-overlay">
                                    <div class="category">{% if document.collection == "released-patches" %}{{ document.categories }}{% endif %}</div>
                                    <div class="overlay-desc">
                                        <h3><a href="#">{{ document.title }}</a></h3>
                                        <span>{{ document.release-date | date: "%-m.%-d.%y" }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        {% endfor %}
                            
    					<div style="clear:both;"></div>
    
                        <div class="cta">
                           <a href="{{site.baseurl}}/all-released" style="padding-left:10px;"  class="viewall" title="View All">View All</a>
                        </div>