<!-- Footer Starts Here -->
        <footer class="footer">
			<div class="container">
				<div class="col-2 col">
				
					<div class="logos-line-1">
						<a target="_blank" href="http://www.xbox.com/en-US/xbox-one"><img src="{{site.baseurl}}/images/xbox-one.png" alt="XBOX ONE" class="xbox-one-logo" /></a>
						<a target="_blank" href="https://www.playstation.com/en-us/explore/ps4/"><img src="{{site.baseurl}}/images/ps4.png" alt="PS4" class="ps4-logo" /></a>
						<a target="_blank" href="http://store.steampowered.com"><img src="{{site.baseurl}}/images/steam.png" alt="Steam" class="steam-logo" /></a>
					</div>
					
					<div class="logos-line-2">
						<img src="{{site.baseurl}}/images/esrb.png" alt="ESRB" class="esrb-logo" />
						<img src="{{site.baseurl}}/images/pegi.png" alt="PEGI" class="pegi-logo" />
					</div>
				
				</div>
				
				<div class="col-2 col footermobile">
				
				<div class="social-icons">
				<a target="_blank" href="https://www.facebook.com/Fridaythe13thGame/"><img src="{{site.baseurl}}/images/facebook.png" class="facebook-icon social" alt="Facebook" /></a>
				<a target="_blank" href="https://twitter.com/Friday13thGame"><img src="{{site.baseurl}}/images/twitter.png" class="twitter-icon social" alt="Twitter" /></a>
				<a target="_blank" href="http://forum.f13game.com/"><img src="{{site.baseurl}}/images/chat.png" class="chat-icon social" alt="Chat" /></a>
				<a target="_blank" href="http://discord.gg/FridayThe13thGame"><img src="{{site.baseurl}}/images/discord.png" class="discord-icon social" alt="Discord" /></a>
				<a target="_blank" href="https://www.reddit.com/r/F13thegame/"><img src="{{site.baseurl}}/images/reddit.png" class="reddit-icon social" alt="Reddit" style="margin-right:0;" /></a>
				</div>
				
				<div class="legalcopy">
					<p>FRIDAY THE 13TH and all related characters and elements are trademarks of and &copy; New Line Productions, Inc. and Horror, Inc. (each to the extent of their interest).</p>
					<p>Gun Legal info: &copy; 2014 Gun Media Holdings, Inc. All Rights Reserved. Summer Camp, Slasher Vol., Gun Media and Summer Camp Logo are trademarks of Gun Media Holdings, Inc, in the US and/or other countries.</p>
				</div>
				
				<div class="footerlinks">
				        <p><a href="{{site.baseurl}}/terms-of-use">Gun Media Terms of Use</a> | <a href="{{site.baseurl}}/privacy-policy">Privacy Policy</a> <br /> <a href="{{site.baseurl}}/f13game-tou">Friday the 13th: The Game Terms of Use</a> | <a href="{{site.baseurl}}/code-of-conduct">Code of Conduct</a> <br /> <a href="{{site.baseurl}}/eula">End User Licence Agreement</a> | <a href="mailto:f13game@fearthegun.com">f13game[at]fearthegun.com</a></p>
					
				</div>
			
			</div>
        </footer>
        <!-- Footer Ends Here -->
        
    </div>
    <script src="{{site.baseurl}}/js/jquery.min.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/plugin.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/jquery.selectbox-0.2.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/general.js" type="application/x-javascript"></script>
</body>
</html>
