<!-- Footer Starts Here -->
        <footer class="footer">
			<div class="container">
				<div class="col-6 col">
				
					<div class="logos-line-1">
						<a target="_blank" href="http://www.xbox.com/en-US/xbox-one"><img src="/images/xbox-one.png" alt="XBOX ONE" class="xbox-one-logo" /></a>
						<a target="_blank" href="https://www.playstation.com/en-us/explore/ps4/"><img src="/images/ps4.png" alt="PS4" class="ps4-logo" /></a>
						<a target="_blank" href="http://store.steampowered.com"><img src="/images/steam.png" alt="Steam" class="steam-logo" /></a>
					</div>
					
					<div class="logos-line-2">
						<img src="/images/esrb.png" alt="ESRB" class="esrb-logo" />
						<img src="/images/pegi.png" alt="PEGI" class="pegi-logo" />
					</div>
				
				</div>
				
				<div class="col-6 col footermobile">
				
				<div class="social-icons">
				<a target="_blank" href="https://www.facebook.com/Fridaythe13thGame/"><img src="/images/facebook.png" class="facebook-icon social" alt="Facebook" /></a>
				<a target="_blank" href="https://twitter.com/Friday13thGame"><img src="/images/twitter.png" class="twitter-icon social" alt="Twitter" /></a>
				<a target="_blank" href="http://forum.f13game.com/"><img src="/images/chat.png" class="chat-icon social" alt="Chat" /></a>
				<a target="_blank" href="http://discord.gg/FridayThe13thGame"><img src="/images/discord.png" class="discord-icon social" alt="Discord" /></a>
				<a target="_blank" href="https://www.reddit.com/r/F13thegame/"><img src="/images/reddit.png" class="reddit-icon social" alt="Reddit" /></a>
				<a target="_blank" href="https://www.twitch.tv/directory/game/Friday%20the%2013th:%20The%20Game"><img src="/images/twitch.png" class="twitch-icon social" alt="Twitch" style="margin-right:0;" />
				</div>
				
				<div class="legalcopy">
					<p>FRIDAY THE 13TH and all related characters and elements are trademarks of and &copy; New Line Productions, Inc. and Horror, Inc. (each to the extent of their interest).</p>
					<p>&copy; 2017 Gun Media Holdings, Inc. All Rights Reserved. Gun Media<sup>TM</sup> and the Gun Media<sup>TM</sup> logo are trademarks and/or registered trademarks of Gun Media Holdings, Inc. throughout the world. IllFonic<sup>TM</sup> and the IllFonic<sup>TM</sup> logo are trademarks and/or registered trademarks of IllFonic, LLC throughout the world.</p>
				</div>
				
				<div class="footerlinks">
				        <p><a href="/terms-of-use">Gun Media Terms of Use</a> | <a href="/privacy-policy">Privacy Policy</a> <br /> <a href="/f13game-tou">Friday the 13th: The Game Terms of Use</a> | <a href="/code-of-conduct">Code of Conduct</a> <br /> <a href="/eula">End User Licence Agreement</a> | <a href="mailto:f13game@fearthegun.com">f13game[at]fearthegun.com</a></p>
					
				</div>
			
			</div>
        </footer>
        <!-- Footer Ends Here -->
    </div>
    <script src="/js/scripts-2.js" type="application/x-javascript"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56208103-1', 'auto');
  ga('send', 'pageview');

  </script>
</body>
</html>
