<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico">
    <title>Friday the 13th the Game</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/plugin.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/responsive.css" />
</head>
