<a href="/#" class="logo" title="Friday the 13th Game"><img src="/images/logo.png" alt="Friday the 13th Game" /></a>
					
					<!-- Desktop Menu Starts Here -->
                    <nav class="main-nav desktopmenu">
                        <ul>
                            <li><a href="/#news" title="NEWS">NEWS</a></li>
                            <li><a href="/#patches" title="PATCHES">PATCHES</a></li>
                            <li><a href="/#community" title="COMMUNITY">COMMUNITY</a></li>
                            <li><a href="http://forum.f13game.com/" target="_blank" title="FORUMS">FORUMS</a></li>
                            <li><a href="/buy-game" title="BUY GAME" class="btn">BUY GAME</a></li>
                        </ul>
                    </nav>
                    <!-- Desktop Menu Ends Here -->
                    
                    <!-- Mobile Menu Starts Here -->
                    <nav class="main-nav enumenu_ul">
                        <ul>
                            <li><a href="/#news" title="NEWS">NEWS</a></li>
                            <li><a href="/#patches" title="PATCHES">PATCHES</a></li>
                            <li><a href="/#community" title="COMMUNITY">COMMUNITY</a></li>
                            <li><a href="http://forum.f13game.com/" target="_blank" title="FORUMS">FORUMS</a></li>
                            <li><a href="/buy-game" title="BUY GAME" class="btn">BUY GAME</a></li>
                        </ul>
                    </nav>
                    <!-- Mobile Menu Ends Here -->