---
layout: contentpage
---

        {% include header.html %}
<body>
<script>document.body.className += ' fade-out';</script>
    <div class="wrapper">

        <!-- Header Starts Here -->
        <header id="header" class="content">
            <div class="main-header">
                <div class="header-container cf">
                    
                    {% include menu.html %}

                </div>
            </div>
        </header>
        <!-- Header Ends Here -->


<!-- Content Starts Here -->
        <div class="section sec-fix contentpg" id="fix">
            <div class="container cf">
                <div class="row" style="margin:0 auto;">
                    <div class="col-1 col contentpgcol">
                            <div class="contentpgbox">
                                <h2 style="border-bottom: 2px solid #262F3A;padding-bottom:15px;margin-bottom: 44px;">{{ page.title }}</h2>
                            	{{ content }}
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Ends Here -->
        
        <div class="preload"><img src="{{site.baseurl}}/images/menu-overlay.jpg" alt="" /></div>
        
    {% include footer.html %}
