---
layout: contentpage
---

        {% include header.html %}
<body>
<script>document.body.className += ' fade-out';</script>
    <div class="wrapper">

        <!-- Header Starts Here -->
        <header id="header" class="content">
            <div class="main-header">
                <div class="header-container cf">
                    
                    {% include menu.html %}

                </div>
            </div>
        </header>
        <!-- Header Ends Here -->
        
    
   		{% if page.hero-image != '' %}
     	<!-- Banner Starts Here -->
        <div class="bannersub" style="background-image: url({{page.hero-image}}) !important;">
        </div>
        <!-- Banner Ends Here -->
        {% endif %}
  
		

		<!-- Content Starts Here -->
			
		<div class="contentpg">
			<div class="container">
			{% if page.hero-image == '' %}
     			<div style="padding-top:100px;"></div>
        	{% endif %}
				<h1 >{{ page.title }}</h1>
            	<div class="contentarea">{{ content }}</div>
            </div>
        </div>

        <!-- Content Ends Here -->
        
        <div class="preload"><img src="/images/menu-overlay.jpg" alt="" /></div>
        							
    {% include footer.html %}
