---
layout: contentpacks
---

        {% include header.html %}
<body>
<script>document.body.className += ' fade-out';</script>
    <div class="wrapper">

        <!-- Header Starts Here -->
        <header id="header" class="content">
            <div class="main-header">
                <div class="header-container cf">
                    
                    {% include menu.html %}

                </div>
            </div>
        </header>
        <!-- Header Ends Here -->


<!-- Content Starts Here -->
        <div class="section sec-fix contentpg" id="fix">
            <div class="container cf">
                <div class="row" style="margin:0 auto;">
                    <div class="col-1 col contentpgcol">
                        <div class="fix-area">
                            <div class="fix-description alert-description contentpgbox">
                            	<h2>{{ page.title }}</h2>
                            	<h3>{% assign isreleased = page.released %}{% unless isreleased == true %}{{ page.date | date: "%-m.%-d.%y" }}{% endunless %}{% unless isreleased == false %}{{ page.release-date | date: "%B" }} {% assign showdaynum = page.show-day %}{% if showdaynum == true %}{{ page.release-date | date: "%-d" }}{% endif %}{% endunless %}</h3>
                            	<img src="{{ page.main-image }}" alt="{{ page.title }}" />
                            	{{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Ends Here -->
        
        <div class="preload"><img src="{{site.baseurl}}/images/menu-overlay.jpg" alt="" /></div>
        
    {% include footer.html %}
